#App {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding: 10vh 10vh 0 10vh; */
}

#myGithubLink, #shuffleThemeButton {
  transition: ease-in-out .12s;
}

#myGithubLink:hover, #shuffleThemeButton:hover {
  opacity: .65;
  cursor: pointer;
}

.muteButton {
  transition: ease-in-out .15s;
}

.muteButton:hover {
  cursor: pointer;
  opacity: .65;
}